PORT=3000

DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=
DB_NAME=viajes_app
DB_PORT=3307

JWT_SECRET=cambia_esta_clave_en_produccion

# Pega aquí tu clave real de Gemini. En el proyecto entregado, la clave queda en .env.
GEMINI_API_KEY=
GEMINI_MODEL=gemini-1.5-flash
GEMINI_PROJECT_NAME=Default Gemini API Key
GEMINI_PROJECT_ID=projects/535600356427
GEMINI_PROJECT_NUMBER=535600356427
